$theme-gold: (
    font-size: 14px,
    background: gold,
    logo: url(assets/image/gold_logo.png),
    logo-position: 50% 30%,
    logo-size: 51%,
    page-bg: url(assets/image/bg.png) center,
    button-bg: rgba(238,227,208,1),
    button-shadow: initial // 0px 3px 6px rgba(253,122,122,0.4)
)
